version: '3'
services:
  app1:
    build: .
    environment:
      - APP_NAME=App1
    ports:
      - "5001:5000"

  app2:
    build: .
    environment:
      - APP_NAME=App2
    ports:
      - "5002:5000"

  app3:
    build: .
    environment:
      - APP_NAME=App3
    ports:
      - "5003:5000"